    <footer class="footer">
        <nav class="menu-footer">
            <ul class="menu-footer-left">
                <li class="menu-footer-items"><a class="menu-footer-links" href="#">Legal</a></li>
                <li class="menu-footer-items"><a class="menu-footer-links" href="#">Cookies</a></li>
                <li class="menu-footer-items"><a class="menu-footer-links" href="#">Información sobre los anuncios</a></li>
            </ul>
        </nav>
        <div class="menu-footer-right">
            <p>España 🏳️‍🌈</p>
            <p>© Spotify AB</p>
        </div>
    </footer>